In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [4]:
from eda import firstsight

In [6]:
from eda import num_visual

In [2]:
file_path = 'C:/Users/milky/Documents/Home Credit Risk Management/dseb63_final_project_DP_dataset/'

In [3]:
previous_application = pd.read_csv(file_path + 'dseb63_previous_application.csv')

In [8]:
firstsight(previous_application, 'previous_application')

------------------------------
previous_application
------------------------------
	Shape:(1413701, 37)
	First 5 rows:

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,...,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
0,2030495,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,...,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0,293189
1,1696966,Consumer loans,68258.655,1800000.0,1754721.0,180000.0,1800000.0,SATURDAY,18,Y,...,36.0,low_normal,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,293189
2,2154916,Consumer loans,12417.390,108400.5,119848.5,0.0,108400.5,SUNDAY,14,Y,...,12.0,middle,POS industry with interest,365243.0,-512.0,-182.0,-392.0,-387.0,0.0,293189
3,2802425,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,...,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0,91587
4,1536272,Cash loans,21709.125,450000.0,512370.0,NaN,450000.0,WEDNESDAY,9,Y,...,36.0,low_normal,Cash X-Sell: low,365243.0,-485.0,565.0,-155.0,-147.0,1.0,91587

	Features' datatype and null count:

,Datatype,Number of Missing Values,Percent of Missing Values
SK_ID_PREV,int64,0,0.000000
NAME_CONTRACT_TYPE,object,0,0.000000
AMT_ANNUITY,float64,307218,21.731469
AMT_APPLICATION,float64,0,0.000000
AMT_CREDIT,float64,1,0.000071
AMT_DOWN_PAYMENT,float64,749540,53.019698
AMT_GOODS_PRICE,float64,319525,22.602021
WEEKDAY_APPR_PROCESS_START,object,0,0.000000
HOUR_APPR_PROCESS_START,int64,0,0.000000
FLAG_LAST_APPL_PER_CONTRACT,object,0,0.000000
NFLAG_LAST_APPL_IN_DAY,int64,0,0.000000
RATE_DOWN_PAYMENT,float64,749540,53.019698
RATE_INTEREST_PRIMARY,float64,1408910,99.661102
RATE_INTEREST_PRIVILEGED,float64,1408910,99.661102
NAME_CASH_LOAN_PURPOSE,object,0,0.000000
NAME_CONTRACT_STATUS,object,0,0.000000
DAYS_DECISION,int64,0,0.000000
NAME_PAYMENT_TYPE,object,0,0.000000
CODE_REJECT_REASON,object,0,0.000000
NAME_TYPE_SUITE,object,694672,49.138538
NAME_CLIENT_TYPE,object,0,0.000000
NAME_GOODS_CATEGORY,object,0,0.000000
NAME_PORTFOLIO,object,0,0.000000
NAME_PRODUCT_TYPE,object,0,0.000000
CHANNEL_TYPE,object,0,0.000000
SELLERPLACE_AREA,int64,0,0.000000
NAME_SELLER_INDUSTRY,object,0,0.000000
CNT_PAYMENT,float64,307213,21.731116
NAME_YIELD_GROUP,object,0,0.000000
PRODUCT_COMBINATION,object,313,0.022140
DAYS_FIRST_DRAWING,float64,561106,39.690571
DAYS_FIRST_DUE,float64,561106,39.690571
DAYS_LAST_DUE_1ST_VERSION,float64,561106,39.690571
DAYS_LAST_DUE,float64,561106,39.690571
DAYS_TERMINATION,float64,561106,39.690571
NFLAG_INSURED_ON_APPROVAL,float64,561106,39.690571
SK_ID_CURR,int64,0,0.000000

	Features' descriptive statistics:

,count,mean,std,min,25%,50%,75%,max
SK_ID_PREV,1413701.0,1.922744e+06,532715.335255,1.000001e+06,1.461346e+06,1.922698e+06,2.384012e+06,2845381.000
AMT_ANNUITY,1106483.0,1.583718e+04,14724.906897,0.000000e+00,6.257858e+03,1.122376e+04,2.042078e+04,418058.145
AMT_APPLICATION,1413701.0,1.752436e+05,293622.193141,0.000000e+00,1.975050e+04,7.087050e+04,1.800000e+05,5850000.000
AMT_CREDIT,1413700.0,1.963541e+05,319481.250716,0.000000e+00,2.488050e+04,8.059500e+04,2.156400e+05,4509688.500
AMT_DOWN_PAYMENT,664161.0,6.655317e+03,20620.300440,-9.000000e-01,0.000000e+00,1.791000e+03,7.695000e+03,3060045.000
AMT_GOODS_PRICE,1094176.0,2.264512e+05,315937.604200,0.000000e+00,4.982850e+04,1.102455e+05,2.295000e+05,5850000.000
HOUR_APPR_PROCESS_START,1413701.0,1.247893e+01,3.331474,0.000000e+00,1.000000e+01,1.200000e+01,1.500000e+01,23.000
NFLAG_LAST_APPL_IN_DAY,1413701.0,9.964321e-01,0.059626,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000
RATE_DOWN_PAYMENT,664161.0,8.017486e-02,0.107784,-1.497876e-05,0.000000e+00,6.248933e-02,1.089118e-01,1.000
RATE_INTEREST_PRIMARY,4791.0,1.894359e-01,0.090849,3.478125e-02,1.607163e-01,1.891363e-01,1.933299e-01,1.000
RATE_INTEREST_PRIVILEGED,4791.0,7.712840e-01,0.100644,3.731501e-01,7.156448e-01,8.350951e-01,8.525370e-01,1.000
DAYS_DECISION,1413701.0,-8.803670e+02,783.540171,-2.922000e+03,-1.313000e+03,-5.820000e+02,-2.710000e+02,-1.000
SELLERPLACE_AREA,1413701.0,3.149878e+02,7695.081664,-1.000000e+00,-1.000000e+00,4.000000e+00,8.500000e+01,4000000.000
CNT_PAYMENT,1106488.0,1.605194e+01,14.566746,0.000000e+00,6.000000e+00,1.200000e+01,2.400000e+01,84.000
DAYS_FIRST_DRAWING,852595.0,3.422577e+05,88832.266598,-2.922000e+03,3.652430e+05,3.652430e+05,3.652430e+05,365243.000
DAYS_FIRST_DUE,852595.0,1.348874e+04,71650.147146,-2.892000e+03,-1.630000e+03,-8.250000e+02,-4.080000e+02,365243.000
DAYS_LAST_DUE_1ST_VERSION,852595.0,3.327483e+04,106161.775933,-2.801000e+03,-1.244000e+03,-3.580000e+02,1.350000e+02,365243.000
DAYS_LAST_DUE,852595.0,7.666563e+04,149704.716371,-2.889000e+03,-1.316000e+03,-5.340000e+02,-7.300000e+01,365243.000
DAYS_TERMINATION,852595.0,8.235317e+04,153537.064274,-2.874000e+03,-1.269000e+03,-4.940000e+02,-4.200000e+01,365243.000
NFLAG_INSURED_ON_APPROVAL,852595.0,3.305720e-01,0.470419,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000
SK_ID_CURR,1413701.0,1.537647e+05,88673.919865,0.000000e+00,7.692000e+04,1.536860e+05,2.305300e+05,307510.000

In [7]:
num_visual(previous_application, 'AMT_ANNUITY')

TypeError: 'module' object is not callable