In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [12]:
file = ['dseb63_application_test','dseb63_application_train','dseb63_bureau',\
        'dseb63_bureau_balance', 'dseb63_credit_card_balance','dseb63_installments_payments',\
        'dseb63_POS_CASH_balance','dseb63_previous_application']
link = 'D:\\NÄƒm 3 - HK1\\Visualize\\Ex\\final_project\\dseb63_final_project_DP_dataset\\dseb63_final_project_DP_dataset\\'
df = pd.read_csv(link + file[1]+'.csv',index_col='Unnamed: 0')

# DROP

In [3]:

#null high
col_drop =  (df.isnull().sum()/df.shape[0]).sort_values(ascending=False).index[:50].tolist()
#flag doc
starting_idx = df.columns.get_loc("FLAG_DOCUMENT_2")
ending_idx = df.columns.get_loc("FLAG_DOCUMENT_21")+1
for i in range(starting_idx,ending_idx):
    col_drop.append(df.columns[i])
col_drop.remove('FLAG_DOCUMENT_3')
#social
for i in ['OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE']:
    col_drop.append(i)
#enquiries freq
for i in ['AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_QRT']:
    col_drop.append(i)
#contact
for i in ['FLAG_MOBIL','FLAG_CONT_MOBILE','FLAG_EMAIL','FLAG_EMP_PHONE']:
    col_drop.append(i)
#region
for i in ['REGION_RATING_CLIENT','REG_REGION_NOT_LIVE_REGION','REG_REGION_NOT_WORK_REGION','LIVE_REGION_NOT_WORK_REGION']:
    col_drop.append(i)
# finance
for i in ['AMT_GOODS_PRICE']:
    col_drop.append(i)
#family
col_drop.append('CNT_FAM_MEMBERS')

#cate
for i in ['NAME_CONTRACT_TYPE','NAME_HOUSING_TYPE','NAME_TYPE_SUITE']:
    col_drop.append(i)
for i in ['OCCUPATION_TYPE','ORGANIZATION_TYPE']:
    col_drop.append(i)
for i in ['WEEKDAY_APPR_PROCESS_START','HOUR_APPR_PROCESS_START']:
    col_drop.append(i)

In [4]:
new = df.drop(col_drop,axis = 1)
new.describe()

,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,...,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_2,EXT_SOURCE_3,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_YEAR,SK_ID_CURR
0,0,F,N,N,0,270000.0,1293502.5,35698.5,State servant,Higher education,...,0,0,0.622246,NaN,0.0,-828.0,1,0.0,0.0,278621
1,0,F,N,Y,0,135000.0,312682.5,29686.5,Working,Secondary / secondary special,...,0,0,0.650442,NaN,0.0,-617.0,1,NaN,NaN,139008
2,0,M,N,Y,0,121500.0,513000.0,21865.5,Working,Secondary / secondary special,...,1,1,0.322738,NaN,0.0,-1106.0,0,0.0,0.0,138348
3,0,M,N,Y,0,99000.0,490495.5,27517.5,State servant,Secondary / secondary special,...,0,0,0.354225,0.621226,0.0,-2536.0,1,0.0,1.0,64140
4,0,M,Y,Y,0,360000.0,1530000.0,42075.0,State servant,Higher education,...,1,1,0.714279,0.540654,0.0,-1070.0,1,0.0,0.0,219374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246004,0,M,N,N,0,157500.0,254700.0,27558.0,Working,Secondary / secondary special,...,0,0,0.681632,NaN,0.0,-273.0,0,NaN,NaN,90253
246005,0,F,N,Y,0,72000.0,269550.0,12001.5,Pensioner,Secondary / secondary special,...,0,0,0.115992,NaN,0.0,0.0,1,NaN,NaN,9027
246006,0,F,N,Y,0,153000.0,677664.0,29979.0,Working,Higher education,...,1,1,0.535722,0.218859,0.0,-1909.0,1,1.0,1.0,163598
246007,1,F,N,Y,0,171000.0,370107.0,20205.0,Commercial associate,Secondary / secondary special,...,1,0,0.514163,0.661024,0.0,-322.0,1,0.0,0.0,300375
246008,0,F,N,N,0,157500.0,675000.0,49117.5,Commercial associate,Higher education,...,1,1,0.708569,0.113922,0.0,-787.0,1,2.0,1.0,258328

In [5]:
# def fence(df, feature):
#     q1 = df[feature].quantile(0.25)
#     q3 = df[feature].quantile(0.75)
#     upper = q3 + 1.5*(q3-q1)
#     lower = q1 - 1.5*(q3-q1)
#     return lower, upper
# def process_outliner(df, features, fill = 'median'):
#     for col in features:
#         if fill == 'median':
#             val = df[col].median() 
#         else:
#             val = df[col].mean() 
#         l, u = fence(df,col)
#         df[col] = df[col].apply(lambda x: val if ((x > u) | (x < l)) else x)
#     return df

In [9]:
new.select_dtypes(['object',])

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS
0,F,N,N,State servant,Higher education,Married
1,F,N,Y,Working,Secondary / secondary special,Civil marriage
2,M,N,Y,Working,Secondary / secondary special,Single / not married
3,M,N,Y,State servant,Secondary / secondary special,Married
4,M,Y,Y,State servant,Higher education,Married
...,...,...,...,...,...,...
246004,M,N,N,Working,Secondary / secondary special,Separated
246005,F,N,Y,Pensioner,Secondary / secondary special,Widow
246006,F,N,Y,Working,Higher education,Separated
246007,F,N,Y,Commercial associate,Secondary / secondary special,Married
246008,F,N,N,Commercial associate,Higher education,Married

In [16]:
new.loc[new['CODE_GENDER']=='XNA'] = np.nan
new.loc[new['NAME_FAMILY_STATUS']=='Unknown'] = np.nan
dummy CODE_GENDER	FLAG_OWN_CAR	FLAG_OWN_REALTY
onehot coder = NAME_INCOME_TYPE	NAME_EDUCATION_TYPE	NAME_FAMILY_STATUS

In [10]:
# >>> from sklearn.impute import KNNImputer
# >>> imputer = KNNImputer(n_neighbors=5)
# >>> imputer.fit_transform(new)

In [17]:
new['CODE_GENDER'].unique()

array(['F', 'M', nan], dtype=object)